@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

body {
  background: #f2f3f7;
  font-family: "Roboto" !important;
}
.user {
  margin-bottom: 6vh;
  box-shadow: 0 8px 17px 0 rgb(0 0 0 / 15%);
  padding: 1vw;
  display: flex;
  font-size: 2.2vh;
  background-color: #fff;
  border-radius: 10px;
}
.firstLast {
  display: block;
  color: #333;
  width: fit-content;
  padding: 10px;
  margin-top: 3vh;
}
.firstName {
  margin-right: 0.5vw;
}
.user img {
  width: 100px;
  height: 100px;
  border-radius: 80%;
}

.btn {
  width: 6vw;
  font-size: 2.2vh !important;
}
.btn-update {
  margin-right: 3vw;
}
.divCreator {
  float: right;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: 12vw;
  position: relative;
  top: 1.5vh;
}

/* modol */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 8px 17px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 8px 17px 0 rgb(0 0 0 / 15%);
  text-align: center;
  color: #4d4d4d;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #88c5d0 !important;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto" !important;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #57bc90;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
label {
  float: left;
  left: 4vw;
  position: relative;
}
input[type="text"],
input[type="file"] {
  background-color: #f5f5f5;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* input[type="file"] {
  padding: 10px 30px;
  margin-left: -1vw;
} */
input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}
.close-link {
  position: absolute;
  left: 1vw;
  top: 1vh;
  color: #ff6444;
}

.img-preview {
  width: 50px;
  height: 50px;
}
.btn-dont-delete {
  margin-left: 1vw;
  background: #fff !important;
  border: 1px solid #f60;
  color: #ff6444 !important;
}
.delete-buttons {
  margin-bottom: 2vh;
}
.btn-primary {
  background: #88c5d0 !important;
}
.btn-danger {
  background: #fff !important;
  border: 1px solid #f60;
  color: #ff6444 !important;
  padding: 6px;
  text-align: center;
}
.source-code {
  text-align: center;
  font-size: 2.5vh;
  position: relative;
  top: 2vh;
  width: fit-content !important;
  width: -moz-fit-content !important;
  justify-content: center;
  left: 4vw;
}
.crud-title {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 3vh;
  margin-bottom: 7vh;
  font-size: 3vh;
}
.divCreator .btn {
  background: #ff6a00 !important;
}
.input-group .btn {
  z-index: 1 !important;
}
.users {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  /* font-weight: bold; */
}
.alert {
  border: 1px solid #f6c8b5 !important;
  background: #fceee8 !important;
}
.forcible {
  color: #ff6444;
  position: absolute;
  right: 1vw;
  top: 6vh;
  font-size: 4vh;
}
.user-buttons {
  text-align: center;
  margin-top: 1vh !important;
}
/* pagination */
.react-paginate {
  display: flex;
  list-style: none;
}
.react-paginate li {
  border: solid 1px #57bc90;
  padding: 1vw;
  background: #015249;
  color: white;
}
.react-paginate li:first-child {
  border-radius: 5px 0px 0px 5px;
}
.react-paginate li:last-child {
  border-radius: 0px 5px 5px 0px;
}
.react-paginate li a {
  color: white;
  font-family: "Roboto";
  text-decoration: none;
}
.page-link {
  cursor: pointer;
  color: #666 !important;
}
.page-link.active {
  color: #ff7519 !important;
  border: unset;
}
.pagination {
  justify-content: center;
}
.btn-delete {
  background: #fff !important;
  border: 1px solid #f60;
  color: #ff6444 !important;
}
.search-button {
  height: 40px;
  top: 5px;
  left: -2.5vw;
  background: #ff6a00 !important;
  border: unset;
  width: unset;
}
.search-text {
  height: 40px !important;
  background: #fff !important;
  border: #ff6a00 solid 1px !important;
  border-radius: 5px 0 0 5px !important;
}
.form-floating > label {
  top: -4px !important;
}
.form-control:focus {
  box-shadow: unset;
}
.search-section {
  width: fit-content !important;
}
.btn-primary:hover {
  border: unset;
}
.search-error {
  width: fit-content;
  width: -moz-fit-content;
}
.back-button {
  background: #ff6a00 !important;
  border: unset;
  width: unset;
  margin-bottom: 2vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: fit-content;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
#login input[type="text"] {
  width: 95%;
}
#login .btn {
  width: unset;
  left: 7.5vw;
  position: relative;
}

.carousel.carousel-slider .control-arrow {
  padding: 50px;
}
.carousel .control-dots .dot {
  width: 50px !important;
  height: 50px !important;
  background: #57bc90 !important;
}
.slider img {
  width: 100% !important;
  height: 100% !important;
}
/* responsive */
@media (max-width: 600px) {
  .btn {
    width: fit-content;
    width: -moz-fit-content;
  }
  .search-button {
    left: -10vw;
  }
  .search-section {
    left: 20vw;
  }
  .divCreator {
    margin-top: 7vh;
  }
  .source-code {
    left: unset;
  }
  .btn-update {
    margin-bottom: 7vw;
    margin-right: unset;
  }
  .page-link {
    padding: 6vw;
  }
  .search-error {
    margin-top: 5vh;
  }
  .back-button {
    margin-top: 3vh;
  }
}
@media screen and (min-width: 601px) and (max-width: 1050px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .btn {
    width: fit-content !important;
  }
  .divCreator {
    margin-top: 7vh;
  }
  .source-code {
    left: unset;
  }
  #formContent {
    top: -24vh;
  }
  .forcible {
    top: 3vh;
  }
  .page-link {
    padding: 2vw;
  }
  .search-button {
    left: -3vw;
    padding: 0px;
    width: 6vw !important;
    height: 5vh;
  }
  .search-section {
    left: 4vw;
  }
  .search-section label {
    top: 10px !important;
  }
  .search-text {
    height: 5vh !important;
  }
  .search-error {
    margin-top: 5vh;
  }
  .back-button {
    margin-top: 3vh;
  }
  .divCreator .btn {
    position: relative;
    right: 12vw;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .search-text {
    height: 8vh !important;
  }
  .search-button {
    height: 8vh !important;
  }
  .search-error {
    margin-top: 7vh;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1290px) {
  .search-error {
    margin-top: 7vh;
  }
}
